*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Vazir-asdf;
}
@font-face {
    font-family: Vazir-asdf;
    src: url(font/Vazir-Medium.eot) format('eot');
    src: url(font/Vazir-Medium.woff) format('woff');
    src: url(font/Vazir-Medium.woff2) format('woff2');
   
}
@font-face {
    font-family: Vazir-asdg;
    src: url(font/Vazir-Medium.eot) format('eot');
    src: url(font/Vazir-Medium.woff) format('woff');
    src: url(font/Vazir-Medium.woff2) format('woff2');
    font-weight: bold ;
    font-style:normal;
}
h1{
    font-family: Vazir-asdg;
    text-align: center;
    margin: 20px;
    text-transform: capitalize;
    letter-spacing: -3px;
    
}
h1.test:hover{
    font-size: 35px;
    color: rgb(0, 0, 0);
    letter-spacing: 5px;
    transition: .5s;
    text-shadow: 8px 5px 5px rgb(26, 24, 31);
    
}
h2{
    font-size: 5px;
    font-family: Vazir-asdf;
}
h2:hover{
    font-size: 50px;
    text-align: center;
    color: rgb(66, 70, 65);
    letter-spacing: 1px;
    transition: 4s;
    text-shadow: 5px 5px 5px red;
}
h3 {
    font-size: 10;
}
header{
    width: 100%;
    height: 360px;
    background-size:cover ;
    background-attachment:fixed ;
}
button{
    width: 100%;
    height: 360px;
    color: 000000;
    background-size:cover ;
    background-attachment:fixed ;
}
button :hover{
    width: 100%;
    height: 360px;
    background-size:cover ;
    background-color: 00aeae;
    background-attachment:fixed ;
}
textarea{
    background-size:cover ;
    width: 100%;
    color: 00aeae;
    font-family: Vazir-asdg;
    text-align: center  ;
}